{% extends 'base.html' %}
{% load static %}

{% block title %}
Account
{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style-password.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}


{% block content %}
<form action="/accounts/reset-password" method="post" id="pw-reset-form">
    {% csrf_token %}

    <div class="title">Reset Password</div>

    <hr>

    <label><b>Account Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email-field" required>
    <div class="field-message" id="email-message">Account does not exist</div>

    <button type="submit" class="cta dark-filled form-action" id="submit">Request New Password</button>

    <div style="height: 70pt;"></div>

    <button class="cta dark-text bottom-link" onclick="window.open('/accounts/login','_self')">Sign in to existing account</button>
    <button class="cta dark-text bottom-link" onclick="window.open('/accounts/create','_self')">Create New Account</button>
</form>

{% if reset_successful %}
<script>
    document.getElementById("pw-reset-form").style.display = "none"
</script>
<div id="success-message">
    <div class="title">Reset Password</div>
    <hr>
    <p>
        Your password was successfully reset. A new password has been sent to your email address.
    </p>
    <p>
        <button class="cta dark-filled" onclick="window.open('/accounts/login','_self')">Sign In</button>
    </p>
</div>
{% elif reset_attempted %}
<script>
    document.getElementById("email-field").style.border = "2px solid var(--warning)";
    document.getElementById("email-message").style.display = "block"
</script>
{% endif %}

{% endblock %}
